.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.input-section {
  margin: 10px;
}

.house {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 20px;
}

.floor {
  width: 300px;
  min-height: 50px;
  margin: 5px 0;
  padding: 10px;
  color: white;
  border-radius: 8px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.2);
  margin: 2px 0;
  padding: 5px;
  border-radius: 4px;
}
.name button {
  margin-left: 5px;
}
